
.container-home {
  background: linear-gradient(50deg, var(--color2) , var(--color5), var(--color5));
}



.container-home h2 {
  display: flex;
  font-size: 30px;
  color: var(--color1);
  margin-bottom: 6px;
  position: relative;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;

}

.lista-filmes {
  display: flex;
  background-color: none;
  border-radius: 5px;
  margin: auto;
  overflow-x: scroll;
  height: 100%;
  width: 99,1%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.lista-filmes article {
  display: flex;
  min-width: 250px;
  max-width: 300px;
  min-height: 350px;
  max-height: 350px;
  margin: auto 2px;
  gap: 6px;
  padding-bottom: 6px;
  position: relative;
  flex-direction: column;
}

.lista-filmes strong {
  font-size: 14px;
  color: var(--color1);
  height: 0px;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  
}
.lista-filmes a{
  gap: 12px;
  border-radius: 15px;
  padding: 5px;
  height: auto;
  display: block;
  transition: all 0.3s ease;

}

.lista-filmes img {
  height: 100%;
  object-fit: cover;
  display: flex;
  border-radius: 8px;
  transition: all 0.3s ease;
  max-width: 100% ;
  min-width: 100% ;
  margin-top: 10px;
  margin-bottom: 10px;

}

article img:hover {
  transform: scale(1.00) translateY(-1px);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  filter: brightness(1.0);
  opacity: 0.90;
  filter: brightness(1.0)
}
article a {
  overflow: hidden;
}

.lista-filmes::-webkit-scrollbar {
  height: 8px;
}

.lista-filmes::-webkit-scrollbar-track {
  background: var(--color3);
  border-radius: 4px;
}

.lista-filmes::-webkit-scrollbar-thumb {
  background: var(--color2);
  border-radius: 4px;
}

.lista-filmes::-webkit-scrollbar-thumb:hover {
  background: var(--color2);
}